.clignotant{
    animation: clignoter 1s infinite;
    width: 90%x;
    height: 80%;
}
@keyframes clignoter{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

 